<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thacks.muse">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconcircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".launch">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".userRegistration" />
        <activity android:name=".profile" />
        <activity android:name=".playlists"></activity>
        <activity android:name=".MainActivity"></activity>
        <service
            android:name=".musichandler"
            android:enabled="true" />
    </application>

</manifest>